* {
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  max-width: 100%;
}

header {
  color: white;
  background-color: black;
  width: 100%;
  border-bottom: 2px solid lightgrey;
}

h1 {
  font-size: 1.7em;
  font-family: 'Fjalla One', sans-serif;
  padding: 5px 5px 0;
}

h2 {
  font-size: 1em;
  padding: 0 5px 0;

}

.logo {
  padding-left: 10px;
  color: white;
}

h1 .green {
  font-family: 'Fjalla One', sans-serif;
}

.green {
  color: green;
}
.container {
  display: flex;
  justify-content: space-between;
}

.rightElements {
  display: block;
  text-align: right;
  padding-right: 10px;
  margin-top: auto;
}
.mobileNavMenu {
  text-align: right;
}

.mobileNavMenu li {
  display: inline-block;

}

.socialMediaButtons {
  margin-left: auto;
  padding-bottom: 10px;
}

.socialMediaButtons li {
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: green;
}

.avatarSect {
  background-color: black;
  padding: 20px;
  height: 280px;
  overflow: hidden;
}

.avatar {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

section {
  padding: 10px;
}

.blackSect {
  background-color: black;
  color: white;
}

h3 {
  color: green;
}

.portfolioImage {
  height: 100px;
  width: 150px;
  object-fit: cover;
  object-position: top;
}

.titleText {
  width: 450px;
}

footer {
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 0.8em;
}

.footerFlex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*create the card effect for the meet the team and contact
pages*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: black;
  border-style: solid;
  border-color: green;
  border-width: thin;
  min-height: 230px;

}

.imageCard {
  width: 100%;
  height: 150px;
  object-fit: cover;

}

.name {
  color: green;
  text-align: left;
  font-size: 14pt;
  padding: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 3;

}

.title {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 12pt;
  width: 100%;

}

.containerCards {
  padding: 0 16px;
  display: block;

}

.column {
  width: 50%;
  display: inline-block;
  margin-bottom: 16px;
  padding: 0 8px;
  transition: transform .5s;
}

.column:hover {
  transform: scale(1.1);
}

.blackText a {
  color: black;
}

.blackText a:hover{
  color: green;
}

.romansLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  float: right;
}

.centreAlign {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
}

.downArrow {
  font-size: 30px;
}

.romansImage {
  padding-top: 10px;
}

.CodeScroll {
  max-width: 100%;
  padding-bottom: 10px;
  column-count: 3;
}

.scrollboxTitle {
  text-align: center;
  color: white;
  background-color: #555;
  width: 100%;
}

.scrollbox {
  background-color: black;
  height: 300px;
  overflow: auto;
  color: white;
}

.scrollboxCode {
  font-size: 8pt;
  font-family: monospace;
  padding: 5px;
}

.absenceSect {
  padding-top: 10px;
  padding-left: 5px;
  height: 320px;
  display: block;

}

.backgroundImage {
  display: none;
}

.displayNone {
  display: none;
}

@media only screen and (min-width:376px) and (max-width: 854px) {
    .sectFlex {
      display: flex;
      justify-content: space-between;
    }

    .column {
      width: 33%;
      display: inline-block;
      margin-bottom: 16px;
      padding: 0 8px;
    }
  }

@media only screen and (min-width: 855px) {
  header {
    height: 80px;
    border-style: none;
  }

 .grid {
   display: grid;
   grid-template-columns: 33% 33% 33%;
 }

  .grid-2 {
    display: grid;
    grid-template-columns: 38% 42% 20%;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: 30% 45% 25%;
  }

  .sectFlex {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    border-top: 2px solid lightgrey;
  }

.sectFlex img {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  object-position: center;

}

  .logo {
    height: 80px;
    color: black;
    background-color: white;
  }
  .avatar {
    margin-left: auto;
    margin-right: -96px;
    margin-top: 20px;
    width: 84%;
    z-index: 1;
  }
  .curvedElement {

  }
  .avatarSect {
    padding: 0%;
  }
  .backgroundImage {
    display: grid;
    margin-left: -86px;
    margin-right: -217px;
    margin-top: -41px;
    min-width: 235%;
    opacity: 0.1;
    z-index: 0;
  }

  .leftDiv {
    z-index: 1;
  }
  .leftCircle {
    display: grid;
    height: 280px;
  }
  .leftCurve {
    display: grid;
    height: 80px;
    margin-left: -10px;
  }

  .workHistory {
    height: 100px;
    padding-top: 20px;
  }

  .motivation {
    padding-top: 70px;
  }

  .theFuture {
    height: 150px;
    padding-top: 50px;
  }

  .middleCurve {
    display: grid;
    float: left;
    width: 131px;
    height: 164px;
    shape-outside: polygon(0% 0%, 0% 100%, 100% 100%, 97% 94%, 91% 86%, 84% 82%, 73% 79%, 64% 77%, 53% 73%, 43% 68%, 36% 64%, 25% 57%, 20% 48%, 14% 37%, 12% 33%, 8% 27%, 4% 19%, 2% 10%);
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 97% 94%, 91% 86%, 84% 82%, 73% 79%, 64% 77%, 53% 73%, 43% 68%, 36% 64%, 25% 57%, 20% 48%, 14% 37%, 12% 33%, 8% 27%, 4% 19%, 2% 10%);
}

  .rightCurve {
    display: grid;
    float: left;
    width: 301px;
    height: 100px;
    -webkit-shape-outside: circle(50% at 9% 53%);
    shape-outside: circle(50% at 9% 53%);
    -webkit-clip-path: circle(50% at 9% 53%);
    clip-path: circle(50% at 9% 53%);
    margin-left: -200px;

  }

  .bottomCurve {
    display: grid;
    float: left;
    width: 131px;
    height: 164px;
    shape-outside: polygon(0% 100%, 0% 0%, 100% 0%, 95% 6%, 87% 12%, 80% 17%, 74% 23%, 64% 30%, 57% 37%, 48% 48%, 38% 56%, 23% 73%, 14% 82%, 7% 91%);
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 95% 6%, 87% 12%, 80% 17%, 74% 23%, 64% 30%, 57% 37%, 48% 48%, 38% 56%, 23% 73%, 14% 82%, 7% 91%);
  }

  .blackSect {
    background-color: white;
  }
  .blackSect a {
      color: black;
    }
  .blackSect a:hover {
    color: green;
  }

  .socialMediaButtons a {
    padding-left: 10px;
  }

  .mobileNavMenu li {
    padding-left: 20px;

  }
  .centreAlign {
    text-align: 30px;
  }

  .downArrow {
    font-size: 60px;
  }

  .column {
    width: 30%;

  }

}
