/*Creates the standard font family for the entire page whilst resetting the page padding and margin to 0.
It also sets a max width off 100% so that the page is not stretched.*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  max-width: 100%;
}

/*The header is styled with white font, black background and a thin, light grey bottom border. The width
is stretched to 100% to ensure the black background goes all the way across the page*/
header {
  color: white;
  background-color: black;
  width: 100%;
  border-bottom: 2px solid lightgrey;
}

/*The font size for all h1 elements throughout the site is set, with a bold font set
and padding added*/
h1 {
  font-size: 1.7em;
  font-family: 'Fjalla One', sans-serif;
  padding: 5px 5px 0;
}

/*Size and padding added to h2 elements*/
h2 {
  font-size: 1em;
  padding: 0 5px 0;
}

/*The logo is styled to ensure the font colour is white, with some padding to ensure the logo
sits away from the edge of the browser*/
.logo {
  padding-left: 10px;
  color: white;
}

/*The green span element of h1 is given the same font as the rest of the h1 element*/
h1 .green {
  font-family: 'Fjalla One', sans-serif;
}

/*The colour is changed for all spans with the 'green' class*/
.green {
  color: green;
}

/*The container is given a flex display style to split the two elements to each side of the page*/
.container {
  display: flex;
  justify-content: space-between;
}

/*The rightElements div is split using a block display and pushed to the right of the page*/
.rightElements {
  display: block;
  text-align: right;
  padding-right: 10px;
  margin-top: auto;
}

/*Right aligned navigation menu*/
.mobileNavMenu {
  text-align: right;
}

/*An inline block navigation menu*/
.mobileNavMenu li {
  display: inline-block;

}

/*Pushes the social media buttons to the right of the page and gives it a padding*/
.socialMediaButtons {
  margin-left: auto;
  padding-bottom: 10px;
}

/*inline block so the social media buttons line up next to each other*/
.socialMediaButtons li {
  display: inline-block;
}

/*ensures all links are white in colour with no underline*/
a {
  color: white;
  text-decoration: none;
}

/*ensures all links turn green on hover*/
a:hover {
  color: green;
}

/*The avatar section of the site is given a black background, a set height and padding throughout.
The overflox is also hidden to ensure the page isn't stretched.*/
.avatarSect {
  background-color: black;
  padding: 20px;
  height: 280px;
  overflow: hidden;
}

/*The avatar is made into a circle and pushed to the right of the page.*/
.avatar {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/*Adds padding throughout the page*/
section {
  padding: 10px;
}

/*adds a black background and white font to the selected elements*/
.blackSect {
  background-color: black;
  color: white;
}

/*Ensures the h3 elements are given a green font colour*/
h3 {
  color: green;
}

/*Portfolio image elements are given a set height and width. The object fit and position ensure the
image isn't stretched no matter the size of it*/
.portfolioImage {
  height: 100px;
  width: 150px;
  object-fit: cover;
  object-position: top;
}

/*Gives a set width to the titleText element*/
.titleText {
  width: 450px;
}

/*styles the footer*/
footer {
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 0.8em;
}

/*pushes the footer elements to each side of the footer*/
.footerFlex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*create the card effect for the meet the team and contact
pages*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: black;
  border-style: solid;
  border-color: green;
  border-width: thin;
  min-height: 230px;

}

.imageCard {
  width: 100%;
  height: 150px;
  object-fit: cover;

}

.name {
  color: green;
  text-align: left;
  font-size: 14pt;
  padding: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 3;

}

.title {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 12pt;
  width: 100%;

}

.containerCards {
  padding: 0 16px;
  display: block;

}

.column {
  width: 50%;
  display: inline-block;
  margin-bottom: 16px;
  padding: 0 8px;
  transition: transform .5s;
}

.column:hover {
  transform: scale(1.1);
}

/*makes the links in the highlighted sections black and turn green on hover*/
.blackText a {
  color: black;
}

.blackText a:hover{
  color: green;
}

/*styles the Romans logo on the design page*/
.romansLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  float: right;
}

/*centre aligns the selected elements, giving it a black background colour, white font and padding*/
.centreAlign {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
}

/*styles the down arrow*/
.downArrow {
  font-size: 30px;
}

/*adds padding to the romans images*/
.romansImage {
  padding-top: 10px;
}

/*styles the codepen style code boxes on the absence calculator page*/
.CodeScroll {
  max-width: 100%;
  padding-bottom: 10px;
  column-count: 3;
}

.scrollboxTitle {
  text-align: center;
  color: white;
  background-color: #555;
  width: 100%;
}

.scrollbox {
  background-color: black;
  height: 300px;
  overflow: auto;
  color: white;
}

.scrollboxCode {
  font-size: 8pt;
  font-family: monospace;
  padding: 5px;
}

/*sets a size for the absence section*/
.absenceSect {
  padding-top: 10px;
  padding-left: 5px;
  height: 320px;
  display: block;

}

/*ensures that these sections do not display when in mobile view*/
.backgroundImage {
  display: none;
}

.displayNone {
  display: none;
}

/*Sets new display settings for tablet size screen*/
@media only screen and (min-width:376px) and (max-width: 854px) {
    /*sets the sectFlex to flex display*/
    .sectFlex {
      display: flex;
      justify-content: space-between;
    }
    /*pushes the column element to three across the page*/
    .column {
      width: 33%;
      display: inline-block;
      margin-bottom: 16px;
      padding: 0 8px;
    }
  }

/*sets new css for desktop computer*/
@media only screen and (min-width: 855px) {
  header {
    height: 80px;
    border-style: none;
  }

/*sets a grid display to three equal columns*/
 .grid {
   display: grid;
   grid-template-columns: 33% 33% 33%;
 }
/*sets a grid display to three unequal columns to help shape the S-shape of the text*/
  .grid-2 {
    display: grid;
    grid-template-columns: 38% 42% 20%;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: 30% 45% 25%;
  }

  .sectFlex {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    border-top: 2px solid lightgrey;
  }

/*pushes the image to the edges of the div but ensures it doesn't stretch or skew*/
.sectFlex img {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  object-position: center;
}

/*Styles the logo*/
  .logo {
    height: 80px;
    color: black;
    background-color: white;
  }

  /*pushes the avatar to the right*/
  .avatar {
    margin-left: auto;
    margin-right: -96px;
    margin-top: 20px;
    width: 84%;
    z-index: 1;
  }

  .avatarSect {
    padding: 0%;
  }

  /*ensures the background image now shows, which helps to shape the S*/
  .backgroundImage {
    display: grid;
    margin-left: -86px;
    margin-right: -217px;
    margin-top: -41px;
    min-width: 235%;
    opacity: 0.1;
    z-index: 0;
  }

/*pushes the leftDiv element over other elements*/
  .leftDiv {
    z-index: 1;
  }

  /*shows the leftCircle element and sets the size*/
  .leftCircle {
    display: grid;
    height: 280px;
  }

  /*makes the leftCurve visible and sets the size*/
  .leftCurve {
    display: grid;
    height: 80px;
    margin-left: -10px;
  }

/*sets the size and padding of the sections*/
  .workHistory {
    height: 100px;
    padding-top: 20px;
  }

  .motivation {
    padding-top: 70px;
  }

  .theFuture {
    height: 150px;
    padding-top: 50px;
  }

/*sets the visibility, size and shape of the shapes to shape the S*/
  .middleCurve {
    display: grid;
    float: left;
    width: 131px;
    height: 164px;
    shape-outside: polygon(0% 0%, 0% 100%, 100% 100%, 97% 94%, 91% 86%, 84% 82%, 73% 79%, 64% 77%, 53% 73%, 43% 68%, 36% 64%, 25% 57%, 20% 48%, 14% 37%, 12% 33%, 8% 27%, 4% 19%, 2% 10%);
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 97% 94%, 91% 86%, 84% 82%, 73% 79%, 64% 77%, 53% 73%, 43% 68%, 36% 64%, 25% 57%, 20% 48%, 14% 37%, 12% 33%, 8% 27%, 4% 19%, 2% 10%);
}

  .rightCurve {
    display: grid;
    float: left;
    width: 301px;
    height: 100px;
    -webkit-shape-outside: circle(50% at 9% 53%);
    shape-outside: circle(50% at 9% 53%);
    -webkit-clip-path: circle(50% at 9% 53%);
    clip-path: circle(50% at 9% 53%);
    margin-left: -200px;

  }

  .bottomCurve {
    display: grid;
    float: left;
    width: 131px;
    height: 164px;
    shape-outside: polygon(0% 100%, 0% 0%, 100% 0%, 95% 6%, 87% 12%, 80% 17%, 74% 23%, 64% 30%, 57% 37%, 48% 48%, 38% 56%, 23% 73%, 14% 82%, 7% 91%);
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 95% 6%, 87% 12%, 80% 17%, 74% 23%, 64% 30%, 57% 37%, 48% 48%, 38% 56%, 23% 73%, 14% 82%, 7% 91%);
  }

/*styles parts of the portfolio grid section*/
  .blackSect {
    background-color: white;
  }
  .blackSect a {
      color: black;
    }
  .blackSect a:hover {
    color: green;
  }

/*Adds padding*/
  .socialMediaButtons a {
    padding-left: 10px;
  }

  .mobileNavMenu li {
    padding-left: 20px;

  }
  .centreAlign {
    text-align: center;
    font-size: 30px;
  }

/*sets font size of the down arrow*/
  .downArrow {
    font-size: 60px;
  }

/*sets the column width for the portfolio page*/
  .column {
    width: 30%;

  }

}
