/*a second css page is created to make changes to all pages except the index. The max width is
set to 1000px but ensures it is stretched up to 1000px*/
* {
  max-width: 100%;
  margin-left:auto;
  margin-right: auto;
}

html {
  max-width: 1000px;
}

header {
  width: 100%;
  margin: 0;
}
