/*For each of the input boxes, the position is made absolute to ensure
it stays at the top and in place upon resizing of the window. The colour
is made into a blue colour to add some style, whilst padding and a border
is added to ensure it stands out*/
.input {
  position: absolute;
  color: #051923;
  padding: 10px;
  border-style: solid;
  border-color: #006494;
  border-width: thick;
}

/*Added margins and font style to the cells, including a contrasting blue
font colour to ensure it stands out*/
#firstCell, #secondCell, #thirdCell {
  margin-top: 10px;
  color: #051923;
  font-size: 10pt;

}

/*making the input text white*/
input[type=text] {
  color: white;
  border-style: none;
  background-color: #006494;

}

/*styling the title to make it bigger and bolder than the other text*/
#title {
  font-size: 18pt;
  font-weight: bold;
}

/*styling the output text labels*/
#totalSalary, #monthlyAbsence, #absenceCost {
  color: #006494;
}
