/*Adding styling to the entire document including font style
imported from google fonts, a fixed height and a left text text-align
as well as a light grey gradient for the background, which creates
a good contrast for the user*/
html, body {
  font-family: 'IBM Plex Sans', sans-serif;
  height: 100%;
  text-align: left;
  background-image: radial-gradient(rgb(209,209,209), rgb(239,239,239));
}

/*Implementing a CSS Grid*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
  float: left;
}

/*For each of the input boxes, the position is made absolute to ensure
it stays at the top and in place upon resizing of the window. The colour
is made into a blue colour to add some style, whilst padding and a border
is added to ensure it stands out*/
.input {
  position: absolute;
  color: #051923;
  background-color: rgb(239,239,239);
  padding: 3vw;
  border-style: solid;
  border-color: white;
  border-width: thick;
  left: 25vw;
}

/*Added margins and font style to the cells, including a contrasting blue
font colour to ensure it stands out*/
#firstCell, #secondCell, #thirdCell {
  margin-top: 1vw;
  color: #051923;
  font-size: 2vw;
}

/*making the input text white*/
input[type=text] {
  color: white;
  border-style: none;
  background-color: #006494;
}

/*styling the title to make it bigger and bolder than the other text*/
#title {
  font-size: 4vw;
  font-weight: bold;
}

/*styling the output text labels*/
#totalSalary, #monthlyAbsence, #absenceCost {
  color: #006494;
}
